body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(62, 65, 65);
}



#calculator {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border: 1px solid white;
    transition: all 0.5s;
}

#display {
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 40px;
}


button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}



.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

#calculator:hover {
    box-shadow: 1px 1px 20px 0px hsl(35, 100%, 75%);
}



.calculate {
    background-color: hsl(249, 100%, 65%);
}

.calculate:hover {
    background-color: hsl(249, 100%, 60%);
}

.calculate:active {
    background-color: hsl(249, 100%, 55%);
}



.clear-all {
    background-color: hsl(13, 100%, 50%);
}

.clear-all:hover {
    background-color: hsl(13, 100%, 40%);
}

.clear-all:active {
    background-color: hsl(13, 100%, 30%);
}


.name {
    display: block;
    text-align: center;
    color: white;
    font-size: 12px;
    margin: 0;
    padding: 15px;
}

/* Responsive for phone  */

@media (max-width: 400px) {


    #calculator {
        max-width: 80%;
    }

    #keys{
        gap: 6px;
        padding: 20px;
    }

    #display {
        font-size: 3rem;

    }

    button {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }
}